@page "/account/crudusers"
@attribute [Authorize(
    Roles = 
    Constants.Security.ADMINISTRATOR + "," + 
    Constants.Security.PRIVILEGED_EMPLOYEE)]
@inject HttpClient _httpClient

<h1>CRUD accounts</h1>
<h4>Create, read, update and delete accounts</h4>

@if (ErrorDetails != null && ErrorDetails.Count > 0)
{
    <AlertComponent AlertType="@AlertComponent.AlertTypeEnum.Danger" Title="@ErrorTitle" ContentMessages="@ErrorDetails" ShowContentAsList="@ShowContentAsList" />
}

<SfGrid TValue="PLUserAccount" AllowPaging="true" Toolbar="@ToolBarItems" ID="Grid" AllowSorting="true">

    <GridEditSettings AllowAdding="true"
                      AllowEditing="true"
                      AllowDeleting="true"
                      Mode="EditMode.Normal" />

    <GridEvents TValue="IPLUserAccount"
                OnActionFailure="@ActionFailure" />

    @{
        if (IsInitialRender)
        {
            <SfDataManager AdaptorInstance="@typeof(APIAccountsAdapter)" Adaptor="Adaptors.CustomAdaptor"/>
        }
    }

    <GridColumns>
            @{
                List<Exception> exceptions = null;
                try
                {
                    PropertyInfo[] propertyInfos = typeof(PLUserAccount).GetProperties(BindingFlags.Public | BindingFlags.Instance);
                    if (propertyInfos.Any())
                    {

                        foreach (PropertyInfo properyInfo in propertyInfos)
                        {
                            try
                            {
                                string field = properyInfo.Name;
                                string header = PropertyNameConverter.ConvertFromProperty(properyInfo.Name);
                                bool isPrimKey = properyInfo.Name == "Id";
                                bool canWrite = properyInfo.CanWrite;
                                EditType editType = EditType.DefaultEdit;
                                editTypeDictionairy.TryGetValue(properyInfo.PropertyType, out editType);

                                <GridColumn Field="@field"
                                            HeaderText="@header"
                                            IsPrimaryKey="@isPrimKey"
                                            IsIdentity="@isPrimKey"
                                            EditType="@editType"
                                            AllowEditing="@canWrite"
                                            AutoFit="true"/>
                            }
                            catch (Exception ex)
                            {
                                if (exceptions == null)
                                    exceptions = new List<Exception>();

                                exceptions.Add(ex);
                            }
                        }
                    }
                    else
                    {
                        exceptions.Add(new ArgumentException("fromObject empty"));
                    }

                    if (exceptions != null)
                    {
                        if (exceptions.Count > 1)
                            throw new AggregateException(exceptions);
                        else
                            throw exceptions[0];
                    }

                }
                catch (AggregateException ex)
                {
                    // TODO Deal with exceptions
                    throw ex;
                }
            }
        </GridColumns>
</SfGrid>

@code{
    [CascadingParameter(Name = nameof(MainLayout))]
    public MainLayout MainLayoutInstance { get; set; }

    public static string ErrorTitle { get; set; }
    public static List<string> ErrorDetails { get; set; }
    public bool ShowContentAsList { get => ErrorDetails?.Count > 1; }


    public bool IsInitialRender = false;
    public List<string> ToolBarItems { get; set; } = new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" };

    private Dictionary<Type, EditType> editTypeDictionairy = new Dictionary<Type, EditType>
    {
        { typeof(string), EditType.DefaultEdit },
        { typeof(bool), EditType.BooleanEdit },
        { typeof(int), EditType.NumericEdit },
        { typeof(DateTimeOffset), EditType.DateTimePickerEdit },
    };

    protected async override void OnInitialized()
    {
        ErrorTitle = null;
        ErrorDetails = null;

        if (IsInitialRender == true)
            return;

        IsInitialRender = true;

        HttpResponseMessage result = null;

        try
        {
            result = await _httpClient.GetAsync($"{Constants.APIControllers.ACCOUNT}/{Constants.AccountControllerEndpoints.GET_ALL}");
        }
        catch (Exception ex)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception("Something went wrong while calling the server.", ex));
            return;
        }

        if (result.IsSuccessStatusCode == false)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception($"Call was unsuccessfull:\n{result.StatusCode}\n{result.ReasonPhrase}"));
            return;
        }

        try
        {
            APIAccountsAdapter.httpClient = _httpClient;
            var accounts = JsonConvert.DeserializeObject<List<PLUserAccount>>(await result.Content.ReadAsStringAsync());

            APIAccountsAdapter.PLUserAccounts = accounts;
        }
        catch (Exception ex)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception("Something went wrong while deserializing the server response.", ex));
        }
    }

    //TODO place methods in seperate class
    public void ActionFailure(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {

        MainLayoutInstance.ShowExceptionToast(new Exception($"An action failure occurred: {args.Error.ToString()}"));
    }
}
