@page "/account/crudusers"
@attribute [Authorize(Roles = Constants.Security.ADMINISTRATOR)]
@inject HttpClient _httpClient

<h1>CRUD users</h1>

@if (ErrorDetails.Length > 0)
{
    <AlertComponent AlertType="@AlertComponent.AlertTypeEnum.Danger" Title="@ErrorTitle" ContentMessages="@ErrorDetails" />
}

<SfGrid TValue="IUserAccount" AllowPaging="true" Toolbar="@ToolBarItems" ID="Grid" AllowSorting="true" Width="100%">

    <GridEditSettings AllowAdding="true"
                      AllowEditing="true"
                      AllowDeleting="true"
                      Mode="EditMode.Normal" />

    <GridEvents TValue="IUserAccount"
                OnActionFailure="@ActionFailure" />

    @{
        if (IsInitialRender)
        {
            <SfDataManager AdaptorInstance="_APIAccountsAdapter" Adaptor="Adaptors.CustomAdaptor"/>
        }
    }

    <GridColumns>
            @{
                List<Exception> exceptions = null;
                try
                {
                    PropertyInfo[] propertyInfos = typeof(IUserAccount).GetProperties(BindingFlags.Public | BindingFlags.Instance);
                    if (propertyInfos.Any())
                    {

                        foreach (PropertyInfo properyInfo in propertyInfos)
                        {
                            try
                            {
                                string field = properyInfo.Name;
                                string header = PropertyNameConverter.ConvertFromProperty(properyInfo.Name);
                                bool isPrimKey = properyInfo.Name == "Id";
                                bool canWrite = properyInfo.CanWrite;
                                EditType editType = EditType.DefaultEdit;
                                editTypeDictionairy.TryGetValue(properyInfo.PropertyType, out editType);

                                <GridColumn Field="@field"
                                            HeaderText="@header"
                                            IsPrimaryKey="@isPrimKey"
                                            IsIdentity="@isPrimKey"
                                            EditType="@editType"
                                            AllowEditing="@canWrite"
                                            AutoFit="true"/>
                            }
                            catch (Exception ex)
                            {
                                if (exceptions == null)
                                    exceptions = new List<Exception>();

                                exceptions.Add(ex);
                            }
                        }
                    }
                    else
                    {
                        exceptions.Add(new ArgumentException("fromObject empty"));
                    }

                    if (exceptions != null)
                    {
                        if (exceptions.Count > 1)
                            throw new AggregateException(exceptions);
                        else
                            throw exceptions[0];
                    }

                }
                catch (AggregateException ex)
                {
                    // TODO Deal with exceptions
                    throw ex;
                }
            }
        </GridColumns>
</SfGrid>

@code{
    private APIAccountsAdapter _APIAccountsAdapter;

    public static string ErrorTitle { get; set; }
    public static string[] ErrorDetails { get; set; } = new string[0];
    public bool IsInitialRender = false;
    public List<string> ToolBarItems { get; set; } = new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" };

    private Dictionary<Type, EditType> editTypeDictionairy = new Dictionary<Type, EditType>
    {
        { typeof(string), EditType.DefaultEdit },
        { typeof(bool), EditType.BooleanEdit },
        { typeof(int), EditType.NumericEdit },
        { typeof(DateTimeOffset), EditType.DateTimePickerEdit },
    };

    protected async override void OnInitialized()
    {
        IsInitialRender = true;

        HttpResponseMessage result = null;

        try
        {
            result = await _httpClient.GetAsync($"{Constants.APIControllers.ACCOUNT}/{Constants.AccountControllerEndpoints.GET_ALL}");
        }
        catch (Exception ex)
        {
            HandleException(new Exception("Something went wrong while calling the server.", ex));
            return;
        }

        if (result.IsSuccessStatusCode == false)
        {
            HandleException(new Exception($"Call was unsuccessfull: {result.ReasonPhrase}"));
            return;
        }

        try
        {
            _APIAccountsAdapter = new APIAccountsAdapter(_httpClient, JsonConvert.DeserializeObject<List<UserAccount>>(await result.Content.ReadAsStringAsync()));
        }
        catch (Exception ex)
        {
            HandleException(new Exception("Something went wrong while deserializing the server response.", ex));
        }
    }

    public void ActionFailure(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        ErrorDetails = new string[] { args.Error.ToString() };

        StateHasChanged();
    }

    public void HandleException(Exception ex)
    {
#if DEBUG
        ErrorDetails = new string[] { ex.Message, ex.InnerException?.Message };
#else
        ErrorDetails = new string[] { "Something went wrong... Details are secret" };
#endif
        StateHasChanged();
    }
}
