@page "/account/crud/crudusers"
@attribute [Authorize(
Roles =
Constants.Security.ADMINISTRATOR + "," +
Constants.Security.PRIVILEGED_EMPLOYEE)]
@inject HttpClient _httpClient
@using GridActions = Syncfusion.Blazor.Grids.Action

<h1>CRUD accounts</h1>
<h4>Create, read, update and delete accounts</h4>

@if (IsInitialized)
{
    <div class="fill-maxed">
        <SfGrid ID="Grid"
                @ref="CrudGrid"
                TValue="PLUserAccount"
                Toolbar="@ToolBarItems"
                EnablePersistence="true"
                AllowPaging="true"
                AllowSorting="true"
                ShowColumnChooser="true">

            <GridEditSettings AllowAdding="true"
                              AllowEditing="true"
                              AllowDeleting="true"
                              Mode="EditMode.Dialog" />

            <GridEvents TValue="PLUserAccount"
                        OnActionFailure="@ActionFailure"
                        OnLoad="ShowSpinner"
                        DataBound="HideSpinner"
                        OnActionBegin="OnActionBegin"
                        OnActionComplete="HideSpinner"/>

            <SfDataManager AdaptorInstance="@typeof(APIAccountsAdapter)" Adaptor="Adaptors.CustomAdaptor" />

            <GridColumns>
                @{
                    List<Exception> exceptions = null;
                    try
                    {
                        PropertyInfo[] propertyInfos = typeof(PLUserAccount).GetProperties(
                            BindingFlags.Public | BindingFlags.Instance)
                            .Where(p => p.CanWrite == true &&
                            p.PropertyType != typeof(DateTimeOffset?)).ToArray();

                        if (propertyInfos.Any())
                        {
                            foreach (PropertyInfo properyInfo in propertyInfos)
                            {
                                try
                                {
                                    string field = properyInfo.Name;
                                    string header = PropertyNameConverter.ConvertFromProperty(properyInfo.Name);
                                    bool isPrimKey = properyInfo.Name == "Id";
                                    bool canWrite = properyInfo.CanWrite;
                                    EditType editType = EditType.DefaultEdit;
                                    editTypeDictionairy.TryGetValue(properyInfo.PropertyType, out editType);
                                    bool isCheckBox = editType == EditType.BooleanEdit;
                                    TextAlign textAlignment = isCheckBox ? TextAlign.Center : TextAlign.Left;
                                    string width = isCheckBox ? "75" : "200";

                                    Debug.WriteLine($"Field: {field} | EditType: {Enum.GetName(typeof(EditType), editType)}");

                                    <GridColumn Field="@field"
                                                HeaderText="@header"
                                                IsPrimaryKey="@isPrimKey"
                                                IsIdentity="@isPrimKey"
                                                EditType="@editType"
                                                AllowEditing="@canWrite"
                                                DisplayAsCheckBox="@isCheckBox"
                                                TextAlign="@textAlignment"
                                                Width="10"/>
                                }
                                catch (Exception ex)
                                {
                                    if (exceptions == null)
                                        exceptions = new List<Exception>();

                                    exceptions.Add(ex);
                                }
                            }
                        }
                        else
                        {
                            if (exceptions == null)
                                exceptions = new List<Exception>();

                            exceptions.Add(new ArgumentException("fromObject empty"));
                        }

                        if (exceptions != null)
                        {
                            if (exceptions.Count > 1)
                                throw new AggregateException(exceptions);
                            else
                                throw exceptions[0];
                        }

                    }
                    catch (Exception ex)
                    {
                        MainLayoutInstance.ShowExceptionToast(ex);
                    }
                }
            </GridColumns>
        </SfGrid>
    </div>
}

@code{
    [CascadingParameter(Name = nameof(MainLayout))]
    public MainLayout MainLayoutInstance { get; set; }

    private SfGrid<PLUserAccount> CrudGrid;

    private bool IsInitialized;

    public List<string> ToolBarItems { get; set; } = new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" };

    private Dictionary<Type, EditType> editTypeDictionairy = new Dictionary<Type, EditType>
{
        { typeof(String), EditType.DefaultEdit },
        { typeof(Boolean), EditType.BooleanEdit },
        { typeof(Int32), EditType.NumericEdit },
        { typeof(Enum), EditType.DropDownEdit },
        { typeof(DateTime?), EditType.DateTimePickerEdit },
        { typeof(DateTime), EditType.DateTimePickerEdit }
    };

    protected override async Task OnInitializedAsync()
    {
        if (IsInitialized == true)
            return;

        MainLayoutInstance.ShowSpinner();

        HttpResponseMessage result = null;

        try
        {
            result = await _httpClient.GetAsync($"{Constants.APIControllers.ACCOUNT}/{Constants.AccountControllerEndpoints.GET_ALL}");
        }
        catch (Exception ex)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception("Something went wrong while calling the server.", ex));
            return;
        }

        if (result.IsSuccessStatusCode == false)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception($"Call was unsuccessfull:\n{result.StatusCode}\n{result.ReasonPhrase}"));
            return;
        }

        try
        {
            APIAccountsAdapter.httpClient = _httpClient;
            var accounts = JsonConvert.DeserializeObject<List<PLUserAccount>>(await result.Content.ReadAsStringAsync());

            APIAccountsAdapter.PLUserAccounts = accounts;
        }
        catch (Exception ex)
        {
            MainLayoutInstance.ShowExceptionToast(new Exception("Something went wrong while deserializing the server response.", ex));
        }

        IsInitialized = true;


        await base.OnInitializedAsync();
    }

    public void ActionFailure(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {

        MainLayoutInstance.ShowExceptionToast(new Exception($"An action failure occurred: {args.Error.ToString()}"));
    }

    public void ShowSpinner()
    {
        MainLayoutInstance.ShowSpinner();
    }

    public void HideSpinner()
    {
        MainLayoutInstance.HideSpinner();
    }

    public void OnActionBegin(ActionEventArgs<PLUserAccount> args)
    {
        if (args.RequestType.HasFlag(GridActions.Filtering | GridActions.Sorting))
        {
            MainLayoutInstance.ShowSpinner();
        }
    }
}
