@inject HttpClient _httpClient
@inject ILoginService  _loginService
@inject NavigationManager _navigationManager
@using System.Net.Mail

    <div class="card-form">
        <SfCard>
            <CardHeader>
                <h3>Please enter your details</h3>
            </CardHeader>
            <CardContent>
                <EditForm EditContext="@_formContext" OnValidSubmit="SubmitForm">
                    <div class="content-wrapper">

                        <DataAnnotationsValidator />

                        @if (_resultErrors.Count() > 0)
                        {
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                    <AlertComponent AlertType="AlertComponent.AlertTypeEnum.Danger" Title="@_resultTitle" ContentMessages="@_resultErrors" />
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                <SfTextBox @ref="_tbEmail" Type="InputType.Email" Placeholder="Enter Email" CssClass="@_emailCssClass" FloatLabelType="@FloatLabelType.Auto"
                                           ShowClearButton="true" @bind-Value="@_inputModel.Email" Blur="OnEmailBlur" />

                                <ValidationMessage For="@(() => _inputModel.Email)" />

                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Ever.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                <SfTextBox @ref="_tbPassword" Type="InputType.Password" Placeholder="Enter Password" CssClass="@_passwordCssClass" FloatLabelType="@FloatLabelType.Auto"
                                           ShowClearButton="true" @bind-Value="@_inputModel.Password" Blur="OnPasswordBlur" />

                                <ValidationMessage For="@(() => _inputModel.Password)" />
                            </div>
                        </div>

                        @if (IsLogin == false)
                        {
                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                    <AlertComponent AlertType="AlertComponent.AlertTypeEnum.Info" Title="Password must atleast" ContentMessages="Constants.VALID_PASSWORD_REQUIREMENTS" ShowContentAsList="true" />
                                </div>
                            </div>
                        }

                        <div class="form-group form-check row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                <SfCheckBox Label="Remember me?" @bind-Checked="@_inputModel.RememberMe" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                <SfButton Type="submit" CssClass="btn btn-primary" Content="@_btnContent" />
                            </div>
                        </div>

                    </div>
                </EditForm>
            </CardContent>
        </SfCard>
    </div>

<style>
    .e-input-picture::before {
        content: '\e335';
        font-family: e-icons;
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }

    .e-outline.e-float-input,
    .e-outline.e-float-input.e-control-wrapper {
        margin-top: 0;
    }

    .fabric .row.material2,
    .bootstrap .row.material2,
    .bootstrap4 .row.material2,
    .highcontrast .row.material2 {
        display: none;
    }
</style>

@code
{
    [CascadingParameter(Name = nameof(MainLayout))]
    public MainLayout MainLayoutInstance { get; set; }

    private EditContext _formContext;

    private SfTextBox _tbEmail;
    private string _emailCssClass;

    private SfTextBox _tbPassword;
    private Regex _passwordRegex;
    private string _passwordCssClass;

    private string _btnContent;

    private string _resultTitle;
    private IEnumerable<string> _resultErrors;

    [Parameter]
    public bool IsLogin { get; set; }


    private InputModel _inputModel;

    private class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        [DataType(DataType.Password)]
        [RegularExpression(
            pattern: Constants.VALID_PASSWORD_PATTERN,
            ErrorMessage = Constants.PASSWORD_ERROR_MESSAGE)]
        public string Password { get; set; }

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }

    private async Task SubmitForm()
    {
        string requestUrl;

        if (IsLogin)
            requestUrl = $"{Constants.APIControllers.IDENTITY}/{Constants.IdentityControllerEndpoints.LOG_IN}";
        else
            requestUrl = $"{Constants.APIControllers.ACCOUNT}/{Constants.AccountControllerEndpoints.CREATE_BY_CREDENTIALS}";

        HttpResponseMessage result;

        try
        {
            MainLayoutInstance.ShowSpinner();
            result = await _httpClient.PutAsJsonAsync(requestUrl, _inputModel);
            MainLayoutInstance.HideSpinner();
        }
        catch (Exception ex)
        {
            _resultErrors = new[] {  "Something went wrong while requesting a login.", ex.Message };
            return;
        }

        var resultContentAsString = await result?.Content.ReadAsStringAsync();

        if (result.IsSuccessStatusCode)
        {
            if (IsLogin)
            {
                await _loginService.Login(resultContentAsString);

                MainLayoutInstance.ShowToast(new ToastModel
                {
                    CssClass= "e-toast-success",
                    Icon = "e-success toast-icons",
                    Title = "Login was succesfull",
                    Content = $"Account for {_inputModel.Email} is now logged in.",
                    ShowProgressBar = true
                });

                _navigationManager.NavigateTo("/");
            }
            else
            {
                _navigationManager.NavigateTo("/account/accountsubmitted");
            }
        }
        else
        {
            _resultErrors = JsonConvert.DeserializeObject<IEnumerable<string>>(resultContentAsString);
        }
    }

    protected override Task OnInitializedAsync()
    {
        _btnContent = IsLogin ? "Log in" : "Register";

        _resultErrors = new string[0];

        _inputModel = new InputModel();

        _formContext = new EditContext(_inputModel);

        _passwordRegex = new Regex(Constants.VALID_PASSWORD_PATTERN);

        return base.OnInitializedAsync();
    }

    private void OnEmailBlur(FocusOutEventArgs args)
    {
        CheckForm();
    }

    private void OnPasswordBlur(FocusOutEventArgs args)
    {
        CheckForm();
    }

    private void CheckForm()
    {
        if (_formContext.Validate() == false)
        {
            if(ValidateEmail(_inputModel.Email) == false)
                _emailCssClass = "e-error";
            else
                _emailCssClass = "e-success";

            if (ValidatePassword(_inputModel.Password) == false)
                _passwordCssClass = "e-error";
            else
                _passwordCssClass = "e-success";
        }
        else
        {
            _emailCssClass = "e-success";
            _passwordCssClass = "e-success";
        }

        StateHasChanged();
    }

    private bool ValidateEmail(string email)
    {
        if (String.IsNullOrEmpty(email))
            return false;

        if (email.Length < 6)
            return false;

        string domainAndTopLvlDomain;
        string domain;

        try
        {
            domainAndTopLvlDomain = email.Split('@')[1];

            domain = domainAndTopLvlDomain.Split('.')[0];
        }
        catch
        {
            return false;
        }

        if (Constants.VALID_EMAIL_DOMAINS.Contains(domain) == false)
            return false;

        try
        {
            var _email = new MailAddress(email.Normalize());
        }
        catch (FormatException)
        {
            return false;
        }

        return true;
    }

    private bool ValidatePassword(string password)
    {
        return _passwordRegex.IsMatch(password);
    }
}
