<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="@BlazorConstants.Pages.INDEX">
        <img src="_content/MTS.PL.UserInterface/Images/Logo/logo-horizontal-long.png" class="img-shrink-to-parent" alt="Image" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.Account.REGISTER">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.Authentication.LOGIN">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="@Constants.Security.ADMINISTRATOR">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.Account.CRUD_ACCOUNT">
                        <span class="oi oi-person" aria-hidden="true"></span> CRUD Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@BlazorConstants.Pages.CREDITS">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Credits
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.Account.EDIT_ACCOUNT">
                        <span class="oi oi-person" aria-hidden="true"></span> Account
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.CloudStorage.PERSONAL_CLOUD_STORAGE">
                        <span class="oi oi-cloud" aria-hidden="true"></span> Personal cloud storage
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@BlazorConstants.Pages.Authentication.LOGOUT">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
