<style>
    .content {
        padding: 10px;
    }

    .icon{
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .center-vertical {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<div class="@_topCSSClass col-12" role="alert">
    @if (!String.IsNullOrEmpty(Title)) 
    {
        <div class="row">
            <span class="icon @_iconCSSClass" aria-hidden="true"/>
            <h4 class="center-vertical align-self-stretch">@Title</h4>
        </div>    
    }
    
    @if (!String.IsNullOrEmpty(Subtitle))
    {
        <div class="row ">
                <p>
                    <h5>@Subtitle</h5>
                </p>
        </div>
    }

    @if (ContentMessages != null)
    {
        <div class="row">
            @{
            if (ShowContentAsList == true)
            {
                <div class="list-group">
                    @foreach (string message in ContentMessages)
                    {
                    <span class="list-inline-item">- @message</span>
                    }
                </div>
            }

            if(ShowContentAsList == false)
            {
        <div>
            @foreach (string message in ContentMessages)
            {
                <span>@message</span>
            }
        </div>
        }
    }
    </div>
    }
</div>

@code {
    [Parameter]
    public AlertTypeEnum AlertType { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public IEnumerable<string> ContentMessages { get; set; }

    [Parameter]
    public bool ShowContentAsList { get; set; }

    private string _topCSSClass;
    private string _iconCSSClass;

    public enum AlertTypeEnum
    {
        Info,
        Success,
        Warning,
        Danger
    }

    protected override Task OnInitializedAsync()
    {
        switch (AlertType)
        {
            default:
                _topCSSClass = "alert alert-info";
                _iconCSSClass = "oi oi-info";
                break;
            case AlertTypeEnum.Success:
                _topCSSClass = "alert alert-success";
                _iconCSSClass = "oi oi-check";
                break;
            case AlertTypeEnum.Warning:
                _topCSSClass = "alert alert-warning";
                _iconCSSClass = "oi oi-warning";
                break;
            case AlertTypeEnum.Danger:
                _topCSSClass = "alert alert-danger";
                _iconCSSClass = "oi oi-warning";
                break;
        }

        return base.OnInitializedAsync();
    }
}
