@page "/"
@inject NavigationManager _navigationManager
@inject ISpinnerService _spinnerService

<PageHeaderComponent PageName="Welcome to Maurice Software Solutions!" Subtitle="A site about software and Maurice" />

<div class="row col-12 padding-vertical-top">
    <!--#region Card 1 MSS-->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="e-card" ID="maurice-card">
            <!--Header-->
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title">
                        <h4>About me and MSS</h4>
                    </div>
                </div> 
            </div>
            <div class="e-card-content">
                <strong>What is MSS?</strong>
                <p>@Constants.MSS.WHAT_IS_MSS</p>

                <strong>Who is Maurice?</strong>
                <p>@Constants.MSS.ABOUT_MAURICE_1</p>

                <p>@Constants.MSS.ABOUT_MAURICE_2</p>

                <p>@Constants.MSS.ABOUT_MAURICE_3</p>

                <p>@Constants.MSS.ABOUT_MAURICE_4</p>

                <p>@Constants.MSS.ABOUT_MAURICE_5</p>

                <p>@Constants.MSS.ABOUT_MAURICE_6</p>

                <p>@Constants.MSS.ABOUT_MAURICE_7</p>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region Card 2 Maurice-->
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="e-card" ID="maurice-card">
            <!--Picture-->
            <div class="e-card-image">
                <img id="maurice-picture" src="/Images/Maurice/pasfoto-flat.png"/>
            </div>

            <!--Header-->
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title">
                        <h4>Maurice Slegtenhorst</h4>
                    </div>
                    <div class="e-card-sub-title">
                        <h5>C# Software Developer</h5>
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="e-card-content">
                <strong>What can he do?</strong>
                <p>@Constants.MSS.MAURICE_SKILLS</p>

                <strong>Maurice in a nutshell</strong>
                <p>@Constants.MSS.ABOUT_MAURICE_SHORT</p>
            </div>

            <!--Footer-->
            <div class="e-card-actions">
                <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickMoreAbout">More about</SfButton>
            </div>
        </div>
    </div>
    <!--#endregion-->
</div>

<style>
    #maurice-picture{
        max-width:100%;
    }
</style>

@code{
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }

    private void OnClickLinkedIN()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }

    private void OnClickMoreAbout()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
