@page "/"

<h1>Welcome to Maurice Software Solutions!</h1>

<h4>What can I do here?</h4>

<p>@Constants.MSS.WHAT_IS_MSS</p>

<h4>Who is Maurice?</h4>

<p>@Constants.MSS.ABOUT_MAURICE_1</p>

<p>@Constants.MSS.ABOUT_MAURICE_2</p>

<p>@Constants.MSS.ABOUT_MAURICE_3</p>

<p>@Constants.MSS.ABOUT_MAURICE_4</p>

<p>@Constants.MSS.ABOUT_MAURICE_5</p>

<p>@Constants.MSS.ABOUT_MAURICE_6</p>

<p>@Constants.MSS.ABOUT_MAURICE_7</p>

@code{
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }
}
