@page "/"
@inject NavigationManager _navigationManager

<PageHeaderComponent PageName="Welcome to Maurice Software Solutions!" Subtitle="A site about software and Maurice" />

<div class="padding-side">
    <hr class="solid">

    <div class="row padding-vertical-bottom">
        <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12 padding-horizontal-right">
            <SfCard>
                <div class="segment height03">
                    <img src="images/logo/logo-square-maurice-software-solutions.png" alt="MSS logo" class="overlay-image" />
                    <CardHeader Title="What is MSS?" />
                    <CardContent>
                        <p>@Constants.MSS.WHAT_IS_MSS</p>
                    </CardContent>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </div>
            </SfCard>
        </div>

        <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12 padding-horizontal-left">
            <SfCard>
                <div class="segment height03">
                    <img src="images/maurice/pasfoto.jpg" alt="Maurice photo" class="overlay-image" />
                    <CardHeader Title="Software Developer" SubTitle="Maurice Slegtenhorst" />
                    <CardContent Content="C#, SQL, SQLite, HTML, XAML, XML, JavaScript, SCSS and CSS. Born on 27th of april 1991. Living in The Netherlands, Zuid-Holland, Voorschoten. Loves coding." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </div>
            </SfCard>
        </div>
    </div>

    <div class="row padding-vertical-top">
        <div class="col-12">
            <SfCard>
                <div class="segment">
                    <img src="images/coding/code.png" alt="code" class="overlay-image"/>
                    <CardHeader Title="Software Developer" SubTitle="Maurice Slegtenhorst" />
                    <CardContent>
                        <p>@Constants.MSS.ABOUT_MAURICE_1</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_2</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_3</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_4</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_5</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_6</p>

                        <p>@Constants.MSS.ABOUT_MAURICE_7</p>
                    </CardContent>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </div>
            </SfCard>
        </div>
    </div>
</div>

@code{
    private string _cardCss = "";

    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }

    private void OnClickLinkedIN()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }
}
