@page "/"
@inject NavigationManager _navigationManager

<PageHeaderComponent PageName="Welcome to Maurice Software Solutions!" Subtitle="A site about software and Maurice" />

<hr class="solid">

<h5></h5>

<div class="row">
    <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12">
        <div class="row">
            <SfCard>
                <CardHeader Title="What can I do here?" />
                <CardContent>
                    <p>@Constants.MSS.WHAT_IS_MSS</p>
                </CardContent>
                <CardFooter>
                    <CardFooterContent>
                        <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                    </CardFooterContent>
                </CardFooter>
            </SfCard>
        </div>
        <div class="row">
            <SfCard>
                <CardHeader Title="Who is Maurice?" SubTitle="Software Developer" />
                <CardContent Content="C#, SQL, SQLite, HTML, XAML, XML, JavaScript, SCSS and CSS. Born on 27th of april 1991. Living in The Netherlands, Zuid-Holland, Voorschoten. Loves coding." />
                <CardFooter>
                    <CardFooterContent>
                        <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                    </CardFooterContent>
                </CardFooter>
            </SfCard>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col- col-md-12 col-sm-12">
        <SfCard>
            <img src="images/maurice/pasfoto.jpg" alt="Maurice photo" style="width:100%; height:40%" />
            <CardHeader Title="Software Developer" SubTitle="Maurice Slegtenhorst" />
            <CardContent Content="C#, SQL, SQLite, HTML, XAML, XML, JavaScript, SCSS and CSS. Born on 27th of april 1991. Living in The Netherlands, Zuid-Holland, Voorschoten. Loves coding." />
            <CardFooter>
                <CardFooterContent>
                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                </CardFooterContent>
            </CardFooter>
        </SfCard>
    </div>
</div>


<p>@Constants.MSS.ABOUT_MAURICE_1</p>

<p>@Constants.MSS.ABOUT_MAURICE_2</p>

<p>@Constants.MSS.ABOUT_MAURICE_3</p>

<p>@Constants.MSS.ABOUT_MAURICE_4</p>

<p>@Constants.MSS.ABOUT_MAURICE_5</p>

<p>@Constants.MSS.ABOUT_MAURICE_6</p>

<p>@Constants.MSS.ABOUT_MAURICE_7</p>

@code{
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }

    private void OnClickLinkedIN()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }
}
