@page "/"
@inject NavigationManager _navigationManager
@inject ISpinnerService _spinnerService

<PageHeaderComponent PageName="Welcome to Maurice Software Solutions!" Subtitle="A site about software and Maurice" />

<div class="row col-12 padding-vertical-top">

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <SfCard>
            <CardHeader>
                <h3>What is all this?</h3>
            </CardHeader>
            <CardContent>
                <strong>What is MSS?</strong>
                <p> @Constants.MSS.WHAT_IS_MSS</p>

                <strong>Who is Maurice?</strong>
                <p>@Constants.MSS.ABOUT_MAURICE_1</p>

                <p>@Constants.MSS.ABOUT_MAURICE_2</p>

                <p>@Constants.MSS.ABOUT_MAURICE_3</p>

                <p>@Constants.MSS.ABOUT_MAURICE_4</p>

                <p>@Constants.MSS.ABOUT_MAURICE_5</p>

                <p>@Constants.MSS.ABOUT_MAURICE_6</p>

                <p>@Constants.MSS.ABOUT_MAURICE_7</p>
            </CardContent>
        </SfCard>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <SfCard>
            <img src="/Images/Maurice/Pasfoto.jpg" id="maurice_picture"/>
            <CardHeader>
                <div>
                    <div class="row">
                        <h3>Maurice Sebastian Slegtenhorst</h3>
                    </div>

                    <div class="row">
                        <h4>C# Software Developer</h4>
                    </div>
                </div>
            </CardHeader>
            <CardContent>
                <strong>What can he do?</strong>
                <p> @Constants.MSS.MAURICE_SKILLS</p>

                <strong>Maurice in a nutshell</strong>
                <p>@Constants.MSS.ABOUT_MAURICE_SHORT</p>
            </CardContent>
            <CardFooter>
                <CardFooterContent>
                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickMoreAbout">More about</SfButton>
                </CardFooterContent>
            </CardFooter>
        </SfCard>
    </div>
</div>

<style>
    #maurice_picture{
        max-width:100%;
    }
</style>

@code{
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }

    private void OnClickLinkedIN()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }

    private void OnClickMoreAbout()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
