@page "/tooltip-features"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using MSComponents = Microsoft.AspNetCore.Components
@using  Syncfusion.Blazor.DropDowns
<h2>Tooltip</h2>
<br/>
<div id="ControlRegion">
    <div class="col-lg-8 control-section">
        <div class="default">
            <!-- Tooltip element -->
            <SfTooltip Height="@TooltipHeight" Width="@TooltipWidth" Content="@TooltipContent" OpensOn="@OpensOn" IsSticky="@IsSticky">
                <SfButton Content="Show Tooltip"></SfButton>
            </SfTooltip>
        </div>
    </div>
    <div style="height: 32px; width:160px;margin-left:500px">
        <SfDropDownList TValue="string" TItem="DropDownModel" DataSource="@TooltipMode" Index="0">
            <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
            <DropDownListEvents TValue="string" ValueChange="@TooltipOpenMode"></DropDownListEvents>
        </SfDropDownList>
    </div>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Tooltip Samples - Open Mode</li>
      <li class="list"> Theme - Fabric</li>
    </ul>
</div>
<br/>
<style>
    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
        padding-left: 70px;
    }
    #property {
        padding-top: 200px;
    }
    .default {
        position: absolute;
        left: calc(50% - 10px);
        top: 35%;
    }
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 300px;
    }
</style>
            @code
{
    string TooltipHeight = "30px";
    string TooltipWidth = "110px";
    bool IsSticky = false;
    string OpensOn = "Click";
    string TooltipContent = "Tooltip Content";
    public void TooltipOpenMode(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        OpensOn = args.Value;
    }
    List<DropDownModel> TooltipMode = new List<DropDownModel>()
{
        new DropDownModel { Text = "Click", Value = "Click" },
        new DropDownModel { Text = "Auto", Value = "Auto" },
        new DropDownModel { Text = "Hover", Value = "Hover" },
    };
    class DropDownModel
    {
        public string Text { get; set; }
        public string Value { get; set; }
    }
}
